
body{
	background: #222;
	font-family: 'Ubuntu';
	padding: 0;
	color: #eef;
	width: 100%
}

header {
  position: relative;
	z-index: 2;
	/* padding-top: 2em;
	padding-bottom: 6em; */
	height: 50%;
	margin-top: 9%;
  background: #222;
    
}

hr{
	color: #eee;
	width: 30%;
}

h1,h2{
	text-align: center;
}

h1{
	font-size: 3em;
}

h2{
	font-family: 'Ubuntu';
  font-weight: 300;
}

nav {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  top: 0;
  z-index: 3;
}
nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  float: right;
}
nav li {
  display: inline-block;
  padding: 2em;
  text-align: center;
  transition: all .2s;
}
nav li:last-child {
  padding-right: 0;
}
nav a {
  color: #FFF;
  text-decoration: none;
  transition: all .3s;
}
nav a:hover {
  color: #DDD;
}

#icon {
  display: inline-block;
  padding-top: .7em;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}

#nav-bg {
  background: #222;
  position: fixed;
  height: 5em;
  width: 100%;
  top: 0;
  z-index: 1;
}


section{
	position:relative;
	top:3em;
	width: 708px;
}

.fixed{
	position: fixed;
	background: transparent;
	background-color: transparent;
	height: 50px;
	width: 100%;
}

.vase{
	position: absolute;
	width: 100%;
	opacity: 0.4;
}

.vh{
	margin: 0;
	padding: 0;
	top:50px;
	left: 0;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 17%;
	/* background: rgba(100,10,100,0.9); */
}

.fluid{
	position: relative;
	left: 0;
	right: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.center{
	margin-left: auto;
	margin-right: auto;
	display: block;
}


.buttonGroup{
	right: 1em;
	position: absolute;
	padding: 0;
	margin: 0;
}

.brand{
	left: 1em;
	position: absolute;
	color: #fff;
	padding: .7em;
	font-family: 'Ubuntu_M';
	font-size: 1.25em;
}

button:focus{
	border: none;
	outline: none;
}

.social-button{
	padding: .6em 1em .6em .6em;
	margin: .5em;
	font-weight: bold;
	font-size: 1.05em;
	border: solid lavender 2px;
	border-radius: 7px;
/* background: #ddd; */
	color: tomato;
	text-align: center;
	display: inline-block;
	margin-top: 20px;
	background: transparent;
	width: 129px;
}



.social-button:focus{
	border: solid lavender 2px;
}


/*sections*/


.sec2{
	top: 100vh;
	background: #eee;
	color: #000;
}

.sec3{
	top: 100vh;
	background: #eee;
	height: 90%;
}


.description{
	width: 90%;
	top:10%;
}

.description div{
	margin: 1em;
	width: 45%;
	height: 70vh;
  font-size: .8em;
	padding: 1em;
	background: white;
	float: left;
}

.description img{
	clear: left;
  width: 30%;
	margin: 2em;
}


.portfolio{
	width: 70%;
	text-align: center;
	top:2%;
}

.portfolioHead{
	font-size: 2.4em;
	color: rgb(0, 0, 0);
}

.projectsHead{
	font-size: 1.5em;
}

.portfolio img{
	width: 94%;
}

.pf-img{
	position: relative;
	width: 33.33333%;
	float: left;
}

.container {
  margin: 0 auto;
	padding: 0 2em;
	text-align: center;
}

.caption{
	color: rgb(0, 0, 0);
}

.contact-view{
	width: 100%;
	top: 4em;
	background: #aabbcc;
	color: black;
	padding-top: 2em;
	padding-bottom: 2em;
}

.contact-view p{
	margin-left: 2em;
}


.images{
	position: relative;
	/* background: rgba(255,255,255,0.86); */
	padding-bottom: .5em;
	padding-top: 2em;
	overflow: hidden;
}


.canvasView{
	border: solid 2px rgba(255,255,255,0.3);
	width: 300px;
	height: 500px;
	position: relative;
}


@media all and (max-width:760px) {
	
	
	section{
		top: 16px;
		width: 250px;
	}
	
	section{
		margin-top: 2em;
	}
	
	.social-button{
		position: relative;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		display: block;
		margin-top: 16px;
		min-width: 20px;
		background: transparent;
		color: tomato;
	}
	h1{
		font-size: 2.1em;
	}
	h2{
		font-size: 1.1em;
	}
	
	.description div{
		margin: .1em;
		width: 85%;
    padding: .2em;
		background: white;
		float: left;
	}
	
	.description img{
		opacity: 0;
	}
	
	.pf-img{
		width: 100%;
		margin-bottom: 2em;
	}
	
	.nav-button{
		font-size: .9em;
	}
	.brand{
		left: .5em;
	}
	
}

/*- Card container -*/
.card-container {
  position: relative;
  margin: 32px auto;
  max-width: 900px;
  height: 500px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
 
img {
  max-width: 100%;
  max-height: 100%;
}
 
/*- Card body -*/
.card-body {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all .7s linear;
  transition: all .7s linear;
}
 
/*- Flipping the card -*/
.card-container:hover .card-body {
  -webkit-transform: rotateY(180deg);
					transform: rotateY(180deg);
					
}
 
.card-container:hover > .card-body > .side-front {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s ease-in, visibility .75s linear;
	transition: opacity 1s ease-in, visibility .75s linear;
	
	
}
 
/*- Card sides -*/
.card-side {
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: #212121;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
	box-shadow: 0 10px 35px rgba(50, 50, 93, 0.1), 0 2px 15px rgba(0, 0, 0, 0.07);
	-webkit-transform-style: preserve-3d;
}
 
/*- Front side -*/
.side-front [class^=col-xs]:first-of-type {
  padding-left: 0;
}
 
.side-front-content {
  padding-top: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
}
 
/*- Back side -*/
.side-back {
  z-index: 2;
  padding: 32px;
  text-align: center;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
 
/*- Form -*/
.card-form {
  margin-top: 32px;
}
 
.card-form .row + .row,
.card-form .row + fieldset,
.card-form fieldset + fieldset {
  margin-top: 16px;
}
 
input,
textarea {
  padding: 8px;
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #eee;
  border-left: 0;
}
input:focus,
textarea:focus {
  outline: 0;
  border-bottom: 1px solid #0c81f6;
}
 
textarea {
  max-height: 80px;
  resize: vertical;
}
 
.btn-primary {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #0c81f6;
  border: none;
  box-shadow: 0 10px 35px rgba(50, 50, 93, 0.1), 0 2px 15px rgba(0, 0, 0, 0.07);
  -webkit-transition: background-color .25s ease-in, box-shadow .25s ease-in;
  transition: background-color .25s ease-in, box-shadow .25s ease-in;
}
.btn-primary:focus, .btn-primary:hover {
  background-color: #56a7f9;
  box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07);
}
 
/*- Social links -*/
.social-links {
  padding: 0;
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}
.social-links li:nth-of-type(n+2) {
  margin-left: 24px;
}
.social-links a {
  color: #212121;
  -webkit-transition: opacity .25s ease-in;
  transition: opacity .25s ease-in;
}
.social-links a:focus, .social-links a:hover {
  opacity: .5;
}
.social-links i {
  font-size: 24px;
}