
body{
	background: #222;
	font-family: 'Ubuntu';
	padding: 0;
	color: #eef;
	width: 100%
}

header {
  position: relative;
	z-index: 2;
	padding-top: 2em;
	padding-bottom: 6em;
	height: 60vh;
	margin-top: 150px;
  background: #222;
    
}

hr{
	color: #eee;
	width: 30%;
}

h1,h2{
	text-align: center;
}

h1{
	font-size: 3em;
}

h2{
	font-family: 'Ubuntu';
  font-weight: 300;
}

nav {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  top: 0;
  z-index: 3;
}
nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  float: right;
}
nav li {
  display: inline-block;
  padding: 2em;
  text-align: center;
  transition: all .2s;
}
nav li:last-child {
  padding-right: 0;
}
nav a {
  color: #FFF;
  text-decoration: none;
  transition: all .3s;
}
nav a:hover {
  color: #DDD;
}

#icon {
  display: inline-block;
  padding-top: .7em;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}

#nav-bg {
  background: #222;
  position: fixed;
  height: 5em;
  width: 100%;
  top: 0;
  z-index: 1;
}


section{
	position:relative;
	top:3em;
	width: 708px;
}

.fixed{
	position: fixed;
	background: transparent;
	background-color: transparent;
	height: 50px;
	width: 100%;
}

.vase{
	position: absolute;
	width: 100%;
	opacity: 0.4;
}

.vh{
	position: absolute;
	margin: 0;
	padding: 0;
	top:50px;
	left: 0;
	height: 100vh;
	width: 100%;
	/* background: rgba(100,10,100,0.9); */
}

.fluid{
	position: relative;
	left: 0;
	right: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.center{
	margin-left: auto;
	margin-right: auto;
	display: block;
}


.buttonGroup{
	right: 1em;
	position: absolute;
	padding: 0;
	margin: 0;
}

.brand{
	left: 1em;
	position: absolute;
	color: #fff;
	padding: .7em;
	font-family: 'Ubuntu_M';
	font-size: 1.25em;
}

button:focus{
	border: none;
	outline: none;
}

.social-button{
	padding: .6em 1em .6em .6em;
	margin: .5em;
	font-weight: bold;
	font-size: 1.05em;
	border: solid lavender 2px;
	border-radius: 7px;
/* background: #ddd; */
	color: tomato;
	text-align: center;
	display: inline-block;
	margin-top: 20px;
	background: transparent;
	width: 129px;
}



.social-button:focus{
	border: solid lavender 2px;
}


/*sections*/


.sec2{
	top: 100vh;
	background: #eee;
	color: #000;
}

.sec3{
	top: 100vh;
	background: #111;
	height: 850px;
}


.description{
	width: 90%;
	top:10%;
}

.description div{
	margin: 1em;
	width: 45%;
	height: 70vh;
  font-size: .8em;
	padding: 1em;
	background: white;
	float: left;
}

.description img{
	clear: left;
  width: 30%;
	margin: 2em;
}


.portfolio{
	width: 70%;
	text-align: center;
	top:2%;
}

.portfolioHead{
	font-size: 2.4em;
	color: lavender;
}

.projectsHead{
	font-size: 1.5em;
}

.portfolio img{
	width: 94%;
}

.pf-img{
	position: relative;
	width: 33.33333%;
	float: left;
}

.container {
  margin: 0 auto;
	padding: 0 2em;
	text-align: center;
}

.caption{
	color: #fff;
}

.contact-view{
	width: 100%;
	top: 4em;
	background: #aabbcc;
	color: black;
	padding-top: 2em;
	padding-bottom: 2em;
}

.contact-view p{
	margin-left: 2em;
}


.images{
	position: relative;
	/* background: rgba(255,255,255,0.86); */
	padding-bottom: .5em;
	padding-top: 2em;
	overflow: hidden;
}


.canvasView{
	border: solid 2px rgba(255,255,255,0.3);
	width: 300px;
	height: 500px;
	position: relative;
}


@media all and (max-width:760px) {
	
	
	section{
		top: 16px;
		width: 250px;
	}
	
	section{
		margin-top: 2em;
	}
	
	.social-button{
		position: relative;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		display: block;
		margin-top: 16px;
		min-width: 20px;
		background: transparent;
		color: tomato;
	}
	h1{
		font-size: 2.1em;
	}
	h2{
		font-size: 1.1em;
	}
	
	.description div{
		margin: .1em;
		width: 85%;
    padding: .2em;
		background: white;
		float: left;
	}
	
	.description img{
		opacity: 0;
	}
	
	.pf-img{
		width: 100%;
		margin-bottom: 2em;
	}
	
	.nav-button{
		font-size: .9em;
	}
	.brand{
		left: .5em;
	}
	
}